<ul dnd-list="list.ingredients" dnd-drop="cookingStationDropCallback(index, item, external, type,list)">
    <!-- The dnd-draggable directive makes an element draggable and will
         transfer the object that was assigned to it. If an element was
         dragged away, you have to remove it from the original list
         yourself using the dnd-moved attribute -->
    <li
            ng-repeat="item in list.ingredients"
            dnd-draggable="item"
            dnd-moved="list.ingredients.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="models.selected = item"
            ng-click="prepClicks(item,index)"
            ng-class="{'selected': models.selected === item}">
        <img ng-src="{{item.stateImage}}" width="50"/>

    </li>
    <!--    <li-->
    <!--            ng-if="list.recipeMatched"-->
    <!--            dnd-draggable="list.recipe"-->
    <!--         dnd-moved="list.recipe = null"-->
    <!--         dnd-effect-allowed="move"-->
    <!--         dnd-selected="models.selected = item" >-->
    <!--        <img ng-if="!list.isRecipeBurnt" ng-src="{{list.recipe.image}}" width="50"/>-->
    <!--        <img ng-if="list.isRecipeBurnt" ng-src="{{list.recipe.burntImage}}" width="50"/>-->
    <!--    </li>-->
</ul>

<ul ng-if="list.recipeMatched" dnd-list="list.recipe">
    <li
            ng-repeat="item in list.recipe"
            dnd-draggable="item"
            dnd-moved="list.recipe.splice($index, 1)"
            dnd-effect-allowed="move"
            dnd-selected="models.selected = list.recipe">
        <img ng-if="!list.isRecipeBurnt" ng-src="{{list.recipe[0].image}}" width="50"/>
        <img ng-if="list.isRecipeBurnt" ng-src="{{list.recipe[0].burntImage}}" width="50"/>
    </li>
</ul>